* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6e2f0;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: #fff;
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 150px auto;
    padding: 1rem;
    border-radius: 1rem;
}

img {
    width: 100%;
    border-radius: 1rem;

}

h2 {
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(212, 45%, 89%);
    margin-bottom: 1rem;
    padding: 0 .9rem;
}

footer {
    margin-top: 7rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
